.mp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.mp-container > main {
    border: 1px solid #777;
    padding: 2rem;
    border-radius: 3rem;
    text-align: center;
}

.mp-name {
    margin: 0 0 1.5rem;
}

.mp-img {
    width: 50%;
    border-radius: 10px;
}

.mp-contact {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.mp-twitter, .mp-mail {
    font-size: 2rem;
    color: hotpink;
    text-decoration: none;
}

.votes-container{
    border: 1px solid hotpink;
    border-radius: 10px;
    padding: 0.5em;
    margin: 0.5em;
    
}

.votes-container h3{
    text-align: left;
}