* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

body {
  background-color: #ececec; 
}
/* || ========================= Nav Bar ========================= || */

nav {
  background-color: turquoise;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:8vh;
}

.navbar-logo {
  margin: 0 2rem;
  font-size: 3rem;
}

.navbar-links {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: right;
}

.navbar-link {
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
}

.navbar-links > li {
  padding: 2rem 0;
  border-bottom: 2px solid transparent;
}

.navbar-links > li:hover {
  border-bottom: 2px solid dodgerblue;
}


.navbar-links .icon {
  display: none;
  cursor: pointer;
}

.mobile-nav {
  display: none;
  list-style: none;
  text-align: center;
  width: 100%;
  padding-left: 0;
  margin: 0;
}

@media screen and (max-width: 650px) {
  .navbar-links .navbar-link{
    display: none;
  }
  .navbar-links .icon {
    display: block;
    margin-right: 1rem;
    font-size: 1.5rem;
  }

  .navbar-links > li:hover,
  .navbar-links > li {
    border: none;
  }
  
  .mobile-nav > li {
    padding: 1.5rem 0;
    border-bottom: 1px solid #777;
  }

  .mobile-nav > li:hover {
    background: #777;
    cursor: pointer
  }

  .mobile-nav .navbar-link {
    display: block;
    width: 100%;
    height: 100%;
  }

  .active {
    display: block;
  }
}

/* || ========================= Login ========================= || */

.login {
  width: 100%;
  height: 80vh;
}

.login-main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  border: 2px solid #777;
  padding: 2rem 2rem 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.login-header {
  text-align: center;
  margin-top: 0;
}

.login-form > input {
  margin-bottom: 1rem;
}

.login-form > input[type=text], 
.login-form > input[type=password] {
  border: none;
  border-bottom: 2px solid #777;
}

.login-form > input[type=text]:focus, 
.login-form > input[type=password]:focus {
  outline: none;
}

.login-btn {
  background-color: hotpink;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 0;
  border-radius: 2rem;
  margin-top: 1rem;
}

.login-register {
  text-align: center;
  padding-bottom: 0.5rem;
}

/* || ========================= Sign Up ========================= || */

.signup {
  width: 100%;
  height: 80vh;
}

.signup-main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  border: 2px solid #777;
  padding: 2rem 2rem 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.signup-header {
  text-align: center;
  margin-top: 0;
}

.signup-form > input {
  margin-bottom: 1rem;
}

.signup-form > input[type=text], 
.signup-form > input[type=password] {
  border: none;
  border-bottom: 2px solid #777;
}

.signup-form > input[type=text]:focus, 
.signup-form > input[type=password]:focus {
  outline: none;
}

.signup-btn {
  background-color: hotpink;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 0;
  border-radius: 2rem;
  margin-top: 1rem;
}

/* || ========================= Profile ========================= || */

.profile-header {
  text-align: center;
}


/* || ========================= What You Can Do ========================= || */
.youhelp {
  width: 100%;
}

.youhelp__header {
  width: 100%;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.youhelp__heading {
  display: inline-block;
}

.scroll-container {
  font-size: 7.5rem;
  height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 3em;
  display: inline-block;
}
.scroll-text {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  font-weight: bold; 
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
}

@media screen and (max-width: 650px) {
  .youhelp__header {
    font-size: 2.5rem;
  }

  .scroll-container {
    font-size: 4rem;
  }
}

.youhelp-card-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.youhelp__card {
  height: 30rem;
  width: 30rem;
  border-radius: 4rem;
  margin: 30px auto;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25),
  -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}

.youhelp__card--1 {
  background: url(https://images.unsplash.com/photo-1532768778661-1b347c5f02ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2187&q=80);
  
}
.youhelp__card--2 {
  background: url(https://images.unsplash.com/photo-1528190336454-13cd56b45b5a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  ;
}
.youhelp__card--3 {
  background: url(https://images.unsplash.com/photo-1532453288672-3a27e9be9efd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2448&q=80);
}
.youhelp__card--4 {
  background: url(https://images.unsplash.com/photo-1629227071576-e91767cc3024?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}

.youhelp__card--5 {
  background: url(https://images.unsplash.com/photo-1470608756445-2c9906b0680f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
}
.youhelp__card--6 {
  background: url(https://images.unsplash.com/photo-1523815378073-a43ae3fbf36a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2850&q=80);
}

.youhelp__card--7 {
  background: url(https://images.unsplash.com/photo-1596078864284-bf704dda0cc0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2835&q=80);
}
.youhelp__card--8 {
  background: url(https://images.unsplash.com/photo-1589705320079-4fd380c4e9f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}

.youhelp__card--1,
.youhelp__card--2,
.youhelp__card--3,
.youhelp__card--4,
.youhelp__card--5,
.youhelp__card--6,
.youhelp__card--7,
.youhelp__card--8  {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.youhelp__card-title {
  text-align: center;
  color: white;
  font-size: x-large;
}

.youhelp__card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

@media screen and (max-width: 630px) {
  .youhelp-card-container {
    flex-direction: column;
  }
}