* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

/* || ========================= Nav Bar ========================= || */

nav {
  background-color: turquoise;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  margin: 0 2rem;
  font-size: 3rem;
}

.navbar-links {
  margin: 0;
  
  list-style: none;
  display: flex;
  justify-content: right;
}

.navbar-link {
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
}

.navbar-links > li {
  padding: 2rem 0;
  border-bottom: 2px solid transparent;
}

.navbar-links > li:hover {
  border-bottom: 2px solid dodgerblue;
}

/* || ========================= Login ========================= || */

.login {
  width: 100%;
  height: 80vh;
}

.login-main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  border: 2px solid #777;
  padding: 2rem 2rem 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.login-header {
  text-align: center;
  margin-top: 0;
}

.login-form > input {
  margin-bottom: 1rem;
}

.login-form > input[type=text], 
.login-form > input[type=password] {
  border: none;
  border-bottom: 2px solid #777;
}

.login-form > input[type=text]:focus, 
.login-form > input[type=password]:focus {
  outline: none;
}

.login-btn {
  background-color: hotpink;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 0;
  border-radius: 2rem;
  margin-top: 1rem;
}

.login-register {
  text-align: center;
  padding-bottom: 0.5rem;
}

/* || ========================= Sign Up ========================= || */

.signup {
  width: 100%;
  height: 80vh;
}

.signup-main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  border: 2px solid #777;
  padding: 2rem 2rem 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.signup-header {
  text-align: center;
  margin-top: 0;
}

.signup-form > input {
  margin-bottom: 1rem;
}

.signup-form > input[type=text], 
.signup-form > input[type=password] {
  border: none;
  border-bottom: 2px solid #777;
}

.signup-form > input[type=text]:focus, 
.signup-form > input[type=password]:focus {
  outline: none;
}

.signup-btn {
  background-color: hotpink;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 0;
  border-radius: 2rem;
  margin-top: 1rem;
}