.comment-form{
    border: 2px solid #777;
    border-radius: 15px;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    max-width: 80%;
}

input[type=submit]{
    border-radius: 10px;
    background-color: turquoise;
    padding: 0.5em;
    margin-top: 2em;
    border-color: transparent;
    cursor: pointer;
}
.comment-form input[type=submit]:hover{
    background-color: rgb(194, 255, 249);
}

.comment-form input[type=text]{
    border-radius: 10px;
    border: turquoise solid 1px;
    height: 2em;
    padding: 1rem;
}

label{
    font-size: 1.5rem;
    padding: 0.3em;
}

select{
    border-radius: 10px;
    border: turquoise solid 1px;
    height: 2em;
}

.comment-submit-btn {
    width: 50%;
    margin: auto;
}

.comment-body {
    resize: none;
}